YEAR 1

Semester 1

    HCS 1106 : Human Anatomy l
    PHC 106: Pharmaceutics l
    MEM 103: Medical Microbiology l
    HCS 1101: Human Psychology
    PCH 106: Physical Chemistry l
    ICH 103:Inorganic Chemistry l
    OCH 103: Organic Chemistry l
    PAP 102: Pharmaceutical Analysis Practice l
    BIO 106: Biochemistry l

Semester 2

    Pharmaceutics II
    PCH 206: Physical Chemistry II
    BIO 206: Biochemistry II
    OCH 206: Organic Chemistry II
    PAP 202: Pharmaceutical Analysis Practice II
    HCS 1206: Human Anatomy II
    MEM 203: Medical Microbiology II
    HCS 1206: Human Anatomy II
    ICH 203: Inorganic Chemistry II

YEAR 2

Semester 1

    PCG 306: Pharmacognosy I
    PAP 302: Pharmaceutical Analysis Practice III
    PHC 306: Pharmaceutics III
    CPH 303: Clinical Pharmacy I
    CMA 303: Commodity Management
    PHR 2112: Pharmacology 1
    MCH 306: Medicinal Chemistry II
    PDP 302: Pharmaceutical Dispensing Practice l
    IPC 303: Inorganic Pharmaceutical Chemistry I
    MCH 306 : Medicinal Chemistry I
    HCS 2108: Research I
    HCS 2107: Health System Management I

Semester 2

    PCG 406: Pharmacognosy II
    PHC 406: Pharmaceutics IV
    Pharmaceutical Dispensing Practice II
    IPC 403: Inorganic Pharmaceutical Chemistry II
    PHR 2212: Pharmacology II
    PLE 403: Pharmacy Law and Ethics 1
    MCH 406: Medicinal Chemistry II
    PAP 402: Pharmaceutical Analysis Practice IV
    HCS 2207: Health System Management II

YEAR 3

Semester 1

    Professional Practice Experience

Semester 2

    PAP 601: Pharmaceutical Analysis Practice V
    Pharmacy Law and Ethics II
    PHC 603: PHARMACEUTICS V
    MCH 603: Medicinal Chemistry III
    Inorganic Pharmaceutical Chemistry II
    PHARMACOLOGY III
    CPH 603: Clinical Pharmacy III
    Pharmaceutical Dispensing Practice III