<div class="sidebar">
    <div class="sidebar-header">
        <h3>Past Papers</h3>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li>
                <h4>2023</h4>
                <ul>
                    <li><a href="2023j.html">July 2023</a></li>
                </ul>
            </li>
            <li>
                <h4>2022</h4>
                <ul>
                    <li><a href="2022nov.html">November 2022</a></li>
                    <!-- July 2022 PDF missing -->
                </ul>
            </li>
            <!-- 2021 PDF missing -->
            <li>
                <h4>2019</h4>
                <ul>
                    <li><a href="2019july.html">July 2019</a></li>
                </ul>
            </li>
            <li>
                <h4>2018</h4>
                <ul>
                    <li><a href="2018nov.html">November 2018</a></li>
                    <li><a href="2018july.html">July 2018</a></li>
                </ul>
            </li>
            <li>
                <h4>2017</h4>
                <ul>
                    <li><a href="2017nov.html">November 2017</a></li>
                    <li><a href="2017july.html">July 2017</a></li>
                </ul>
            </li>
            <li>
                <h4>2016</h4>
                <ul>
                    <li><a href="2016nov.html">November 2016</a></li>
                    <li><a href="2016july.html">July 2016</a></li>
                </ul>
            </li>
            <li>
                <h4>2015</h4>
                <ul>
                    <li><a href="2015nov.html">November 2015</a></li>
                    <li><a href="2015july.html">July 2015</a></li>
                </ul>
            </li>
            <!-- 2014 PDF missing -->
            <li>
                <h4>2013</h4>
                <ul>
                    <!-- November 2013 PDF missing -->
                    <li><a href="2013july.html">July 2013</a></li>
                </ul>
            </li>
            <!-- 2012 PDF missing -->
            <!-- 2011 PDFs missing -->
            <!-- 2008 PDF missing -->
        </ul>
    </nav>
</div>
