<nav class="sidebar">
    <h2>Past Papers</h2>
    <ul class="paper-list">
        <!-- 2023 -->
        <li><a href="2023m.html">May 2023</a></li>
        <!-- 2022 -->
        <li><a href="2022n.html">November 2022</a></li>
        <!-- 2021 -->
        <li><a href="2021n(1).html">November 2021</a></li>
        <!-- 2019 -->
        <li><a href="2019july.html">July 2019</a></li>
        <!-- 2018 -->
        <li><a href="2018nov.html">November 2018</a></li>
        <!-- 2017 -->
        <li><a href="2017nov.html">November 2017</a></li>
        <li><a href="2017july.html">July 2017</a></li>
        <!-- 2016 -->
        <li><a href="2016july.html">July 2016</a></li>
        <!-- 2015 -->
        <li><a href="2015nov.html">November 2015</a></li>
        <li><a href="2015j.html">July 2015</a></li>
        <!-- 2014 -->
        <li><a href="2014nov.html">November 2014</a></li>
        <li><a href="2014july.html">July 2014</a></li>
        <!-- 2013 -->
        <li><a href="2013nov.html">November 2013</a></li>
        <li><a href="2013j.html">July 2013</a></li>
        <!-- 2012 -->
        <li><a href="2012n.html">November 2012</a></li>
        <li><a href="2012j.html">July 2012</a></li>
        <!-- 2011 -->
        <li><a href="2011n.html">November 2011</a></li>
        <li><a href="2011july.html">July 2011</a></li>
        <!-- 2009 -->
        <li><a href="2009j.html">July 2009</a></li>
    </ul>
</nav>
