<div class="sidebar">
    <div class="sidebar-header"><h3>Past Papers</h3></div>
    <nav class="sidebar-nav">
        <ul>
            <li>
                <h4>2023</h4>
                <ul><li><a href="2023j.html">July 2023</a></li></ul>
            </li>
            <li>
                <h4>2022</h4>
                <ul>
                    <li><a href="2022nov.html">November 2022</a></li>
                    <li><a href="2022j.html">July 2022</a></li>
                </ul>
            </li>
            <li>
                <h4>2021</h4>
                <ul>
                    <li><a href="2021n.html">November 2021</a></li>
                    <li><a href="2021j.html">July 2021</a></li>
                </ul>
            </li>
            <li>
                <h4>2019</h4>
                <ul><li><a href="2019july.html">July 2019</a></li></ul>
            </li>
            <li>
                <h4>2018</h4>
                <ul><li><a href="2018nov.html">November 2018</a></li></ul>
            </li>
            <li>
                <h4>2017</h4>
                <ul>
                    <li><a href="2017nov.html">November 2017</a></li>
                    <li><a href="2017july.html">July 2017</a></li>
                </ul>
            </li>
            <li>
                <h4>2016</h4>
                <ul>
                    <li><a href="2016nov.html">November 2016</a></li>
                    <li><a href="2016j.html">July 2016</a></li>
                </ul>
            </li>
            <li>
                <h4>2015</h4>
                <ul>
                    <li><a href="2015nov.html">November 2015</a></li>
                    <li><a href="2015j.html">July 2015</a></li>
                </ul>
            </li>
            <li>
                <h4>2014</h4>
                <ul>
                    <li><a href="2014nov.html">November 2014</a></li>
                    <li><a href="2014july.html">July 2014</a></li>
                </ul>
            </li>
            <li>
                <h4>2013</h4>
                <ul><li><a href="2013nov.html">November 2013</a></li></ul>
            </li>
            <li>
                <h4>2012</h4>
                <ul><li><a href="2012n.html">November 2012</a></li></ul>
            </li>
            <li>
                <h4>2011</h4>
                <ul><li><a href="2011j.html">July 2011</a></li></ul>
            </li>
            <li>
                <h4>2010</h4>
                <ul><li><a href="2010n.html">November 2010</a></li></ul>
            </li>
        </ul>
    </nav>
</div>