Orthopedics & Traumatology:

    https://www.dknowledge.co.ke/sass/notes/1.%20INTRODUCTION%20TO%20ORTHOPAEDICS.pdf

    https://www.dknowledge.co.ke/sass/notes/3.%20Classification%20of%20Fractures.pptx

    https://www.dknowledge.co.ke/sass/notes/9.%20COMPLICATIONS%20OF%20FRACTURES.pptx

    https://www.dknowledge.co.ke/sass/notes/adams-outline-of-orthopaedics-14th-ed-pdftahir99-vrg.pdf

    https://www.dknowledge.co.ke/sass/notes/CASTING%20%26%20SPLINTING%20TECHNIQUES%202022.docx

    https://www.dknowledge.co.ke/sass/notes/Essential%20Orthopaedics%20(%20PDFDrive%20).pdf

    https://www.dknowledge.co.ke/sass/notes/TRACTION.pdf